# Data Types and Structures Questions

1.  What are data structures, and why are they important?
- Data structures are ways to organize, store, and manage data efficiently. Examples include arrays, stacks, queues, trees, and graphs.

- Why Are They Important?

1. Efficiency: Enable fast data access and processing.

2. Problem Solving: Simplify complex tasks (e.g., graphs for networks).

3. Organization: Manage relationships between data.

4. Scalability: Handle large datasets effectively.

2.  Explain the difference between mutable and immutable data types with examples.
- Mutable Data Types

Definition: Objects whose values can be modified after creation.

Examples in Python: Lists, dictionaries, sets.

Immutable Data Types

Definition: Objects whose values cannot be changed after creation. Any "modification" creates a new object.

Examples in Python: Strings, tuples, integers, floats.

3. What are the main differences between lists and tuples in Python?
- Lists vs Tuples in Python

 . Mutability

1. Lists: Mutable. Elements can be added, removed, or modified after creation.

Tuples: Immutable. Elements cannot be changed after creation.

2. Syntax
Lists: Defined using square brackets [ ].

Tuples: Defined using parentheses ( ).

3. Performance
Lists: Generally slower due to dynamic resizing and mutability.

Tuples: Faster because they are immutable and have less overhead.

4. Describe how dictionaries store data?
- Dictionaries store data as key-value pairs, where each unique key maps to a specific value. They are commonly implemented using hash tables, allowing efficient access, insertion, and deletion of values by their keys. Keys must be unique and are typically simple types like integers or strings.

 Key operations include:

 a. Retrieving values using keys.

 b.Adding or updating values by assigning them to keys.

 c.Removing key-value pairs.

5.  Why might you use a set instead of a list in Python?
- Use a set instead of a list in Python for the following reasons:

 a. Uniqueness: Sets automatically eliminate duplicate values, ensuring all elements are unique.

 b. Set Operations: Sets provide built-in methods for mathematical operations like union, intersection, and difference, which are not available with lists.

 c. Unordered Collection: If you don't care about the order of elements, sets are a better choice since they don't maintain order, unlike lists.

6. What is a string in Python, and how is it different from a list?
- A **string** is a sequence of characters enclosed in quotes.
 A string is a sequence of characters enclosed in quotes.

 exapmle:
 text = "Hello, world!"

 print(text[0])  # Output: 'H'

 A **list** is a collection of items (which can be of any type), enclosed in square brackets.

 Lists are mutable, meaning you can change, add, or remove elements.

 You can also access items using indexing:

 Example:
 my_list = [1, 2, 3, "hello"]

 print(my_list[0])  # Output: 1

7.  How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python by being immutable, which means their elements cannot be changed after creation. This prevents accidental modifications, maintains data consistency, and allows them to be used in hash-based data structures like dictionaries and sets.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs using a hash function to map keys to specific locations, enabling fast access, insertion, and deletion with an average time complexity of
O(1).

- In Python, dictionaries are implemented as hash tables, allowing quick lookups and insertions based on hashed keys. This makes dictionaries efficient for storing and retrieving data by unique identifiers.

9. Can lists contain different data types in Python?

- Yes, Python lists can store elements of different data types, such as integers, strings, floats, and even other lists or objects.

10. Why are strings immutable in Python?

- Strings are immutable to ensure data integrity and optimization. Immutable objects allow safe sharing across multiple parts of a program without risk of accidental modification, improving performance and reducing bugs.

11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries provide fast lookups by key (average
O(1) time complexity) and allow storing data in key-value pairs, making them ideal for scenarios like mapping identifiers to values or grouping related data.

12. Describe a scenario where using a tuple would be preferable over a list?

- Tuples are preferred when data must remain unchanged, such as storing coordinates, configuration settings, or constants.

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates when elements are added, ensuring all items are unique.

14. How does the “in” keyword work differently for lists and dictionaries?

- For lists, in checks if a value exists in the list. For dictionaries, in checks for the presence of a key, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.

- No, tuples are immutable, meaning their elements cannot be modified after creation. This ensures data integrity and consistency

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary containing other dictionaries as values. Example: Storing hierarchical data like student records (students = {"John": {"age": 20, "grade": "A"}, "Emily": {"age": 22, "grade": "B"}}).

17. Describe the time complexity of accessing elements in a dictionary?
Accessing an element in a dictionary by its key has an average time complexity of O(1) due to its hash table implementation.

18. In what situations are lists preferred over dictionaries?

- Lists are preferred when order matters or when storing sequential data without key-value mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries were traditionally unordered because they rely on hash tables for storage; this means the order of keys is not guaranteed unless using modern Python versions (3.7+). Retrieval depends on keys rather than position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- Lists retrieve elements by their index (position), while dictionaries retrieve values by their keys, enabling faster lookups for specific identifiers.

# Practical Questions

In [1]:
#1 DP Write a code to create a string with your name and print it
name = "manish pandey"
print(name)

manish pandey

In [2]:
#2. Write a code to find the length of the string
"Hello World"
len("Hello World")

11

In [3]:
#3. Write a code to slice the first 3 characters from the string
word = "Python Programming"
word[:3]

'Pyt'

In [4]:
#4. Write a code to convert the string "hello" to uppercase
word = "hello"
word.upper()

'HELLO'

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
sentence.replace("apple", "orange")

'I like orange'

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
letters[1]

'b'

In [10]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [12]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
colors[-2]

'blue'

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
min(numbers)

5

In [14]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [15]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
'kiwi' in fruits

False

In [16]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

In [17]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [18]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [19]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
person['name']

'Alice'

In [24]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
'city' in person

True

In [26]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, "hello", 4.5]
print("List:", my_list)

my_tuple = (10, 20, 30, "world", 4.5)
print("Tuple:", my_tuple)

my_dict = {"name": "John", "age": 30, "city": "New York"}

List: [1, 2, 3, 'hello', 4.5]
Tuple: (10, 20, 30, 'world', 4.5)

In [27]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random


random_numbers = [random.randint(1, 100) for _ in range(5)]


random_numbers.sort()


print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [1, 10, 45, 68, 68]

In [28]:
#28. Write a code to create a list with strings and print the element at the third index.

string_list = ["apple", "banana", "cherry", "date", "elderberry"]


print("Element at third index:", string_list[2])

Element at third index: cherry

In [29]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}


combined_dict = {**dict1, **dict2}


print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple", "date"]


string_set = set(string_list)


print("Set of strings:", string_set)

Set of strings: {'apple', 'date', 'cherry', 'banana'}